.boite {
  margin-bottom: 2em;
}

.exemple1 {
  animation: couleurs 2s infinite;
}

.bg-vert{
    background-color:#31af63;
}

.bg-rouge {
    background-color: #933030;
}

@keyframes couleurs {
  0% { background-color: #d71010;}
  100% { background-color: #36ff9e;}
}

.exemple2 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
  height: 90px;
  width: 130px;
  margin: 0 auto;
  background-color: orange;
  animation-name: monAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate-reverse;;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes monAnimation {
  0% {
    transform: scale(.5);
    background-color: cyan;

  }
  50% {
    background-color: red;
       border-radius:50% 50% 50% 0;
  }
  100% {
    transform: scale(2);
    border-radius:50% 80% 50% 0;
    background-color: pink;
  }
}

.exemple3 {
  animation: maSuperAnimation 2s infinite;
  width: 100px;
}

@keyframes maSuperAnimation {
  0%, 100% {
    background-color: orange;

  }
  50% {
    background-color: blue;
    border-radius:20% 10% 50% 0;
  }
}

.exemple4 {
  height: 400px;
  width: 400px;
  background-color: red;
  animation:
    maSuperAnimation 5s ease-out infinite alternate,
    deplacement 5s linear infinite alternate;
}

@keyframes deplacement {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(30%, -10%);
  }

  80% {
    transform: translate(-30%, 10%);
  }
}
