
<h1>CSS gradients</h1>

<h2>Intérêt et utilisation du module</h2>

<h3>Intérêt</h3>

<p>
Le module gradient de css est utilisé pour réaliser des transitions entre différentes couleurs.
Cela permet d'éviter d'utiliser des images ce qui accèlère le temps de chargement de la page
</p>


<hr/>

<h3>Utilisation</h3>

<p>
Le module gradient s'applique sur le background.
Il existe deux type de propriété gradient : linear et radial.
</p>

<hr />

<h4>
  Linear :
</h4>

<p>
Le prototype est le suivant : <strong>background: linear-gradient(direction, color-stop1, color-stop2, ...);</strong> <br>
La direction peut être défini de plusieurs manières: de haut en bas, de bas en haut, de gauche à droite, de droite à gauche et diagonalement. <br>
Il est aussi possible de définir plusieurs couleurs afin d'affiner la transition.<br>

Le module intégre aussi la transparence, pour cela il faut utiliser définir les couleurs avec la fonction rgba et indiquer une transparence.<br>
Il est aussi possible de répéter le dégradé avec la fonction repeating-linear-gradient, qui s'utilise de la même façon.<br>
</p>


<hr />

<h4>
  Radial:
</h4>
Le prototype est le suivant : <strong>background: radial-gradiant(shape size at position, start-color, ...., last-color);</strong> <br>
Contrairement au linear, le dégradé du radial commence à partir d'un point qui sera utilisé comme milieu référent. <br>
Le paramètre shape permet de définir la forme du dégradé il peut prendre deux valeurs : circle ou ellipse. <br>
Comme pour le linear il est possible de répété le radial avec la fonction repeating-radial-gradient. <br>
<p>

</p>


<h1>CSS color module</h1>

<h2>Introduction</h2>

<p>Le type de données CSS <color> permet de représenter des couleurs dans l'espace de couleurs RGB (Red, Green, Blue)</p>
  <a src="http://www.w3schools.com/colors/default.asp">Référence W3C</a>

  <hr>

  <h2>Intérêt<h2>

    <p>L'intérêt du module de couleur est de modifier la couleur des éléments</p>

    <hr/>

  <h2>Utilisation</h2>

  <p>Le module color peut-être appliquer sur des éléments comme le texte ou le background.</p>
  <p>Il existe deux façon de définir la couleur voulue: avec la méthode RGB ou la définition hexadecimal</p>

  <hr/>

  <h4>RGB Color </h4>

  <p>Le rgb color consiste à passer en paramètre de la méthode rgb() les valeurs décimales des nuances rouge, verte ou bleu comprises entre 0 et 255.<br/>
    Prototype de la fonction:
    <ul>
      <li><strong>color: rgb(255,0,0);</strong> Rouge</li>
      <li><strong>color: rgb(0,255,0);</strong> Vert </li>
      <li><strong>color: rgb(0,0,255);</strong> Bleu </li>
    </ul>
  </p>

    <h5>La méthode rgba - Ajouter une transparence</h5>

    <p>En utilisant la méthode rgba() au lieu de la méthode rgb() il est possible d'ajouter directement une transparence. <br>
      Prototype de la fonction:
      <ul>
        <li><strong>color: rgba(255,0,0,0);</strong>Rouge avec transparence</li>
        <li><strong>color: rgba(255,0,0,1);</strong>Rouge sans transparence</li>
      </ul>
    </p>

  <hr/>

  <h4>Hexadecimal Color</h4>

  <p>L'hexadecimal color consiste à donner la couleur en héxadécimal, la méthode rgb() n'est pas utilisé.<br/>
    Prototype de la fonction:
    <ul>
      <li><strong>color: #FF0000;</strong>Rouge</li>
      <li><strong>color: #00FF00;</strong>Vert</li>
      <li><strong>color: #0000FF:</strong>Bleu</li>
    </ul>
  </p>

  <hr/>

  <h2>Implantation sur la navigateur</h2>

  <p>L'implatation du module de couleur est disponible sur tous les navigateurs</p>

  <h2>Documentation</h2>

  
