/* body is the flex-container */
body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  letter-spacing: 0.01rem;
}
[id="sidebar"] {
  width: 20rem;
}
[id="wrapper"] {
  flex: 1;
}

.transform {

  color: green;
  font-weight: bold ;
}
header {
  text-align: center;
}
/* small screens */
@media (max-width: 767px) {
  [id="sidebar"] {
    position: absolute;
    z-index: -1;
  }
  [id="wrapper"] {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    will-change: transform;
  }
  [id="wrapper"]:not(.is-closed) {
    -webkit-transform: translateX(20rem);
    transform: translateX(20rem);
  }

  /* Button deco */
  [id="wrapper"] > button {
    display: block;
    z-index: 1;
    height: 3.5rem; width: 3.5rem;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#333), to(#333)), -webkit-gradient(linear, left top, right top, from(#333), to(#333)), -webkit-gradient(linear, left top, right top, from(#333), to(#333));
    background-image: -webkit-linear-gradient(left, #333, #333), -webkit-linear-gradient(left, #333, #333), -webkit-linear-gradient(left, #333, #333);
    background-image: linear-gradient(to right, #333, #333),
    linear-gradient(to right, #333, #333),
    linear-gradient(to right, #333, #333);
    background-position: center top, center, center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: 3.5rem .9rem;
    background-size: 3.5rem .9rem;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }
}

/* Navigation deco */
[id="navigation"] a {
  display: block;
  padding: 10px;
  margin-bottom: 2px;
  text-decoration: none;
  background: rgba(255,255,255, 0.1);
}

/* Global deco */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #fff;
  font-size: 1.6em;
  font-family: "Century Gothic", helvetica, arial, sans-serif;
}
a {
  color: #fff;
}
[id="sidebar"] {
  background: #333;
  color: #ddd;
}
[id="sidebar"] h2 {
  text-align: center;
}
[id="wrapper"] {
  min-height: 100vh;
  padding: 2rem;
  background-color: #eee;
  color: #333;
}
.highlight code, #carbonads a, .course-overview-lessons a {
  color: #666;
}
table {
  display: table;
  border-color: grey;
}
code, kbd, pre, samp, .lesson .lesson-anchor {
  font-family: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
}
*, *:before, *:after {
  box-sizing: border-box;
}

//rotate demo
.original,
.box {
  border-radius: 6px;
}
.original {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;

}
.box {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin:hover {
  animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-1 {
  transform: rotate(20deg);
}
.box-2 {
  transform: rotate(-55deg);
}
pre{
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #E3EDF3;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  white-space: pre;
  overflow: auto;
  background: #e6eff3;
  box-shadow: inset 0 0 35px rgba(0,0,0,0.1);
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
}
code {
  font-family: Inconsolata,monospace,serif;

}
pre code, pre tt {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  font-size: inherit;
  padding: 0;
  white-space: pre-wrap;
}

ul,.transform2d,p,h3,h6 {

  clear: both;
}

//scale demo
.original2,
.box3 {
  border-radius: 6px;
}
.original2 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box3 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin2 {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin2:hover {
  animation: spin2 5s linear infinite;
}
@keyframes spin2 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-4 {
  transform: scale(.75);
}
.box-5 {
  transform: scale(1.25);
}

//multiple scale demo
.original3,
.box4 {
  border-radius: 6px;
}
.original3 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box4 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin3 {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin3:hover {
  animation: spin3 5s linear infinite;
}
@keyframes spin3 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-6 {
  transform: scaleX(.5);
}
.box-7 {
  transform: scaleY(1.15);
}
.box-8 {
  transform: scale(.5, 1.15);
}

//translate demo

.original4,
.box5 {
  border-radius: 6px;
}
.original4 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box5 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin4 {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin4:hover {
  animation: spin 5s linear infinite;
}
@keyframes spin4 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-10 {
  transform: translateX(-20px);
}
.box-11 {
  transform: translateY(35%);
}
.box-12 {
  transform: translate(-20px, 35%);
}

//skew demo
.original5,
.box6 {
  border-radius: 6px;
}
.original5 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box6 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin5 {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin5:hover {
  animation: spin5 5s linear infinite;
}
@keyframes spin5 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-13 {
  transform: skewX(5deg);
}
.box-14 {
  transform: skewY(-20deg);
}
.box-15 {
  transform: skew(5deg, -20deg);
}

//perspective demo
.original6,
.box7 {
  border-radius: 6px;
}
.original6 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box7 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transform: perspective(200px) rotateX(45deg);
  width: 95px;
}
.spin6 {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin6:hover {
  animation: spin6 5s linear infinite;
}
@keyframes spin6 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

//3d rotate demo
.original7,
.box8 {
  border-radius: 6px;
}
.original7 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box8 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin7 {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin7:hover {
  animation: spin7 5s linear infinite;
}
@keyframes spin7 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-16 {
  transform: perspective(200px) rotateX(45deg);
}
.box-17 {
  transform: perspective(200px) rotateY(45deg);
}
.box-18 {
  transform: perspective(200px) rotateZ(45deg);
}

//3d scale demo

.original8,
.box9 {
  border-radius: 6px;
}
.original8 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box9 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin8 {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin8:hover {
  animation: spin8 5s linear infinite;
}
@keyframes spin8 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-18 {
  transform: perspective(200px) scaleZ(1.75) rotateX(45deg);
}
.box-20 {
  transform: perspective(200px) scaleZ(.25) rotateX(45deg);
}

//translate3d demo
.original9,
.box10 {
  border-radius: 6px;
}
.original9 {
  background: #eaeaed;
  border: 1px dashed #cecfd5;
  float: left;
  margin: 12px 15px;
}
.box10 {
  background: #f06d06;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin9 {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin9:hover {
  animation: spin9 5s linear infinite;
}
@keyframes spin9 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-21 {
  transform: perspective(200px) translateZ(-50px);
}
.box-22 {
  transform: perspective(200px) translateZ(50px);
}

ul li a {

  color: black;

  &:hover {
     color: green;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}