.demo{
  margin: 10px;
  padding: 10px;
  background-color: #f3f3f3;

  h4{
    margin-bottom: 25px;
  }
}

@mixin code-container($bg-color){
  margin: 10px;
  padding: 10px;
  background-color: $bg-color;
  max-height: 500px;
  overflow: scroll;
  h3{
    margin:25px;
  }
}

@mixin container-grid(){
  width:100%;
  display: grid;
  grid-template-columns: 100px 100px 100px;

  color: #444;
}

.code-html{
  @include code-container(#cecfff);
}

.code-css{
  @include code-container(#F9CAAD);
}

.content{
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding:25px;
  background-color: white;
}

.bg{
  width:100%;
  background-color: #eee;
}



.container-grid-base {
  @include container-grid();
  grid-gap: 10px;
}

.container-grid-area{
  @include container-grid();
  grid-gap: 10px;
  grid-template-areas: "....... header  ......."
                             "sidebar ....... content-grid ";

}




.container-grid-area-media{
  @include container-grid();
  grid-gap: 10px;
  grid-template-areas:  "header"
                        "sidebar"
                        "content-grid ";

     @media only screen and (min-width: 1024px)   {
       grid-template-areas: "....... header  ......."
                                  "sidebar ....... content-grid ";
     }
}

.box {

  background-color: #444;
  color: #fff;
  padding: 30px;
  font-size: 150%;
  text-align: center;

}

    .sidebar {
        grid-area: sidebar;
    }

    .content-grid {
        grid-area: content-grid;
    }

    .header {
        grid-area: header;
    }


.a {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .b {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .c {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .d {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .e {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .f {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .a-span {
    grid-column: 1 / span 2;
    }

    .b-span {
    grid-column: 3 ;
    grid-row: 1 ;
    }

    .c-span {
    grid-column: 1 ;
    grid-row: 2 ;
    }

    .d-span {
    grid-column: 2 / span 2  ;
    grid-row: 2 ;
    }

.container-h2{
  h3{
    margin-left: 25px;
    padding: 10px;
  }
  h4{
    margin-left: 50px;
    padding: 10px;
  }
  h5{margin-left: 75px;
    padding: 10px;
  }
  margin:2%;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1{
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.advanced-table{
  th{
    text-align: center;
  }
  img{
    width:50px;
  }
}

.navbar{
  position:fixed;
  width:100%;
  text-align: center;
  margin-top: 0;
  opacity: 0.95;
}
